# Disabled during Corsa migration
# schedules:
#   - cron: "0 19 * * Sun" # time is in UTC
#     displayName: Sunday overnight run
#     always: true
#     branches:
#       include:
#         - main

pr: none
trigger: none

pool:
  name: TypeScript-1ES-Large
  demands:
    - ImageOverride -equals mariner-2.0

extends:
  template: azure-pipelines-gitTests-template.yml
  parameters:
    ENTRYPOINT: tsserver
    LANGUAGE: TypeScript
