parameters:
  - name: POST_RESULT
    displayName: Post GitHub issue with results
    type: boolean
    default: true
  - name: DIAGNOSTIC_OUTPUT
    displayName: Log diagnostic data
    type: boolean
    default: false
  - name: REPO_COUNT
    displayName: Repo Count
    type: number
    default: 800
  - name: REPO_START_INDEX
    displayName: Repo Start Index
    type: number
    default: 0
  - name: OLD_VERSION
    displayName: Baseline TypeScript package version
    type: string
    default: latest
  - name: NEW_VERSION
    displayName: Candidate TypeScript package version
    type: string
    default: next
  - name: MACHINE_COUNT
    displayName: Machine Count
    type: number
    default: 16
    values:
    - 1
    - 2
    - 4
    - 8
    - 16
  - name: ENTRYPOINT
    displayName: TypeScript entrypoint
    type: string
    default: tsc
    values:
    - tsc
    - tsserver
  - name: LANGUAGE
    displayName: Language of repos on GitHub (tsserver only)
    type: string
    default: TypeScript
    values:
    - TypeScript
    - JavaScript
  - name: PRNG_SEED
    displayName: Pseudo-random number generator seed
    type: string
    default: 'n/a'

schedules:
  - cron: "0 17 * * Sun" # time is in UTC
    displayName: Sunday overnight run
    always: true
    branches:
      include:
        - main

pr: none
trigger: none

pool:
  name: TypeScript-1ES-Large
  demands:
    - ImageOverride -equals ubuntu-22.04

variables:
  Codeql.Enabled: false
  skipComponentGovernanceDetection: true

extends:
  template: azure-pipelines-gitTests-template.yml
  parameters:
    POST_RESULT: ${{ parameters.POST_RESULT }}
    DIAGNOSTIC_OUTPUT: ${{ parameters.DIAGNOSTIC_OUTPUT }}
    REPO_COUNT: ${{ parameters.REPO_COUNT }}
    REPO_START_INDEX: ${{ parameters.REPO_START_INDEX }}
    OLD_VERSION: ${{ parameters.OLD_VERSION }}
    NEW_VERSION: ${{ parameters.NEW_VERSION }}
    MACHINE_COUNT: ${{ parameters.MACHINE_COUNT }}
    ENTRYPOINT: ${{ parameters.ENTRYPOINT }}
    LANGUAGE: ${{ parameters.LANGUAGE }}
    PRNG_SEED: ${{ parameters.PRNG_SEED }}
